# Moss Developer Credentials (https://moss.dev)
MOSS_PROJECT_ID="YOUR_MOSS_PROJECT_ID"
MOSS_PROJECT_KEY="YOUR_MOSS_PROJECT_KEY"

# Pinecone Developer Credentials (https://pinecone.io)
PINECONE_API_KEY="YOUR_PINECONE_API_KEY"
PINECONE_INDEX_NAME="blinky-benchmarks"